BasedOnStyle: Google
Language: Cpp

IndentWidth: 4
ColumnLimit: 0

NamespaceIndentation: Inner

PointerAlignment: Left

AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false

IndentAccessModifiers: true

AllowShortBlocksOnASingleLine: Always

SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
    Minimum: 0
    Maximum: -1
